.page {
  --background: #fafafa;
  --foreground: #fff;

  --text-primary: #000;
  --text-secondary: #666;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
}

.main {
  display: flex;
  flex: 1;
  width: 100%;
  max-width: 800px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--foreground);
  padding: 120px 60px;
}
.allProject{
  display: flex;
  align-items: center;
} 

.projectSection{
  display: flex;
  gap: 20px;
  max-width: 720px;
  flex-direction: column;
  padding: 20px 70px;
  align-items: flex-start;

}

.image {
  width: 100%;
  max-width: 720px;   /* keeps it from getting too big */
  height: auto;       /* keeps proportions */
  border-radius: 20px; /* makes it circular */
  display: block;
  margin: 0 auto;     /* center it */
}

.projectTitle{
  font-family: "Merriweather";
  font-weight: 700;
  font-size: 24px;
  color: #FCF3DE;
}

.description{
  color: #FCF3DE;
  font-family: "Host Grotesk";
  font-size: 18px;
  font-weight: 200;
  
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  background: #fafafa;
  color: #161716;
  font-family: "Host Grotesk";
  font-weight: 400;
  transition: background-color 0.2s ease;
}
.resumeContainer {
  max-width: 900px;
  margin: 80px auto;
  padding: 40px 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.resumeTitle {
  font-size: 32px;
  font-weight: 600;
  color: #000;
}
.resumeText {
  font-size: 16px;
  color: var(--text-secondary);
}

.resumePdf {
  width: 100%;
  height: 700px;

  border: 1px solid #ebebeb;
  border-radius: 10px;

  background: white;
}

.resumeButton {
  padding: 12px 20px;
  border: none;
  border-radius: 8px;

  background: #161716;
  color: #fafafa;

  font-size: 16px;
  cursor: pointer;

  transition: 0.2s ease;
  text-decoration: none;
}

.resumeButton:hover {
  opacity: 0.8;
  transform: translateY(-2px);
}
